name: Deploy OnlyPets Backend

#GitHub Actions를 위한 파일
on:
  push:
    branches: [ "main" ]

#명시적 권한
permissions:
  contents: read
  packages: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and Push Docker Image
      uses: docker/build-push-action@v5
      with:
        context: ./back
        file: ./back/Dockerfile
        push: true
        tags: |
          ghcr.io/only-pet-s/onlypets-back:latest
          ghcr.io/only-pet-s/onlypets-back:${{ github.sha }}